<launch>
    <arg name="venv" value="$(find tactile_image_simulator)/../../gsmini_venv/bin/python" />
    <arg name="is_simulated" default="false"/>
    <arg name="input_simulated_image_topic" default="/first_finger_simulated_image"/>
    <arg name="output_pc_topic" default="/first_finger_simulated_pointcloud"/>
    <arg name="output_depthmap_topic" default="/first_finger_simulated_depthmap"/>
    <arg name="rviz" default="true"/>
    <arg name="output" default="screen"/>
    <arg name="finger_name" default="first_finger"/>
    <arg name="id_sensor" default="GelSight Mini R0B 2D54-PYNT"/> 
    <arg name="publish_sensor_tf" default="true"/>

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0" />
    <arg name="qx" default="0.0" />
    <arg name="qy" default="0.0" />
    <arg name="qz" default="0.0" />
    <arg name="qw" default="1.0" />
    <arg name="reference_frame_name" default="world" />

    <node pkg="gsmini_to_pc" type="gsmini_to_pc.py" name="gsmini_to_pc_$(arg finger_name)" launch-prefix="$(arg venv)" output="$(arg output)">
        <param name="input_simulated_image_topic" value="$(arg input_simulated_image_topic)"/>
        <param name="is_simulated" value="$(arg is_simulated)"/>
        <param name="output_pc_topic" value="$(arg output_pc_topic)"/>
        <param name="output_depthmap_topic" value="$(arg output_depthmap_topic)"/>
        <param name="finger_name" value="$(arg finger_name)"/>
        <param name="id_sensor" value="$(arg id_sensor)"/>
    </node>

    <!-- Publishing the reference frame -->
    <group if="$(arg publish_sensor_tf)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="frame_$(arg finger_name)"
            args="$(arg x) $(arg y) $(arg z) $(arg qx) $(arg qy) $(arg qz) $(arg qw) $(arg reference_frame_name) frame_$(arg finger_name)" />
    </group>
  
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz_gsmini_finger$(arg finger_name)" args="-d $(find gsmini_to_pc)/config/mini_ros_3d_config.rviz"/>  
</launch>
