<launch>
    <!-- path to venv -->
    <arg name="venv" value="$(find tactile_image_simulator)/../../gsmini_venv/bin/python" />
    <arg name="is_simulated" default="true" />

    <node pkg="gsmini_to_pc" type="gsmini_to_pc.py" name="gsmini_to_pc" launch-prefix="$(arg venv)" output="screen">
        <param name="image_topic" value="/first_finger_simulated_image"/>
        <param name="is_simulated" value="$(arg is_simulated)"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz_gsmini_to_pc" args="-d $(find gsmini_to_pc)/config/mini_ros_3d_config.rviz"/>  
</launch>