<launch>
    <arg name="obj_ply" default="Simple_Pin" />

    <arg name="obj_ply_path" value="$(find data_folder)/obj_ply/$(arg obj_ply).ply" />

    <node pkg="pc_visualizer" name="pc_visualizer_node" type="pc_visualizer" output="screen">
        <param name="obj_ply_path" value="$(arg obj_ply_path)" />
        <param name="obj_ply" value="$(arg obj_ply)" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pc_visualizer)/config/debug_visualizer.rviz"/>

</launch>