<launch>
    <!-- Definisci l'argomento venv con il percorso al virtual environment -->
    <arg name="venv" value="$(find simulated_gsmini_to_pc)/../gsmini_venv/bin/python" />

    <!-- Definisci l'argomento obj con un valore di default -->
    <arg name="obj" default="square" />

    <!-- Costruisci il percorso completo dell'oggetto -->
    <arg name="obj_path" value="$(find simulated_gsmini_to_pc)/objects/$(arg obj).ply" />

    <!-- Passa l'argomento obj_path allo script main.py come parametro ROS -->
    <node pkg="simulated_gsmini_to_pc" type="main.py" name="simulated_gsmini_to_pc" launch-prefix="$(arg venv)" output="screen">
        <param name="obj_path" value="$(arg obj_path)" />
    </node>
</launch>
